<div class="container mt-1">
<div class="row justify-content-center">
  <div class="card w-50 p-4">
   <div>
    <img src="../../assets/Images/HPS.jpg" style="width: 50px; height: 50px; float: right;">
    <p class="h2 text-center  text-success">Login Here</p>
    <img src="../../assets/Images/smz_logo.png" style="width: 50px; height: 50px; float: left;">
   </div>
    <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember password </label>
          </div>
        </div>
    
        <div class="col">
          <!-- Simple link -->
          <a routerLink="/forget">Forget password?</a>
        </div>
      </div>
    
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4"routerLink="/Dashboard">Sign In</button>
    
      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a routerLink="/reg">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>


</div>
</div>