<!-- <p>home works!</p> -->


<div class="container">
    
</div>
<div class="analytics">
    <div class="card">
        <div class="card-head">
            <h2>123,000</h2>
            <span className="nav-icon fas fa-user"></span>
        </div>
        <div class="card-progress">
            <small>Idadi ya walopiga chanjo kwa mwezi</small>
            
        </div>
    </div>
    
    <div class="card">
        <div class="card-head">
            <h2>534,500</h2>
            <span class="las la-eye"></span>
        </div>
        <div class="card-progress">
            <small>Idadi ya walopiga chanjo kwa watoto wakiume</small>
           
        </div>
    </div>
    
    <div class="card">
        <div class="card-head">
            <h2>980,030</h2>
            <span class="las la-user-friend"></span>
        </div>
        <div class="card-progress">
            <small>Idadi ya walopiga chanjo kwa watoto wakike</small>
          
        </div>
    </div>
    
    </div>
    
    
    
    <div class="word">
    
        <!-- <img src="../../assets/Images/smz_logo.png" alt=""> -->
        
        <h1>
             <img  class="image" src="../../assets/Images/smz_logo.png" style="width: 200px;  height: 200px; ;" alt=""> <br><br>
             <b>Ministry of Health-ZANZIBAR (MoHZ)</b><br><br><br>
             
            <b>IMMUNIZATION & CHILD FOLLOWUP MONTHLY REPORT</b><br><br>
         </h1>
        <h3><b>2023-2024</b></h3><br><br><br>
        <h4><b>Health Management Informaation System(HMIS) ZANZIBAR</b></h4><br><br><br>
      </div>
    
    
